@using webpro_quiz2.Models
@model IEnumerable<webpro_quiz2.Models.@event>

@{
    ViewBag.Title = "Dashboard";
}


@*@if (Session["fullname"] != null)
{
    <text>Welcome @Session["fullname"].ToString()</text>
}*@
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        a {
            color: #FFFFFF;
            text-decoration: none;
        }

        a:hover {
            color: #FF5722;
        }
        
        td, th{
            text-align:center;
            vertical-align:middle;
        }
    </style>
</head>
@*<div>
        <button type="submit" class="btn btn-danger w-100">
            @Html.ActionLink("Logout", "Logout")
        </button>
    </div>*@
<div style="text-align:center;">
    <h2>Welcome @Session["fullname"].ToString()!</h2>
    <span style="white-space: pre-line"></span>
    <h2 style="margin-top:-5px">What event do you want to attend?</h2>
</div>
<body style="background-color:#f8fafc;">

    <div class="card-body text-center d-flex flex-row justify-content-between w-75 mx-auto" style="margin-top:30px;">
        <button type="submit" class="btn btn-primary w-100">
            @Html.ActionLink("Create New Event", "CreateEvent", "Event")
        </button>
    </div>

    <br>

    <div class="card my-2">
        <table class="table table-bordered" style="text-align:center">
            <tr style="background-color: #d6e9f9;">
                <th>Event Name</th>
                <th>Event Place</th>
                <th>Event Start Date</th>
                <th>Event Start Time</th>
                <th>Event End Date</th>
                <th>Event End Time</th>
                <th>Price</th>
                <th colspan="2">Action</th>

            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.event_name</td>
                    <td>@item.event_place</td>
                    <td>@item.event_start_date.ToLongDateString()</td>
                    <td>@item.event_start_time</td>
                    <td>@item.event_end_date.ToLongDateString()</td>
                    <td>@item.event_end_time</td>
                    <td>@item.event_price</td>
                    @if (item.event_organizer == Convert.ToInt32(@Session["user_id"]))
                    {
                        <td>
                            <button type="submit" class="btn btn-primary w-100">
                                @Html.ActionLink("Edit Event", "EditEvent", "Event", new { id = item.event_id }, null)
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger w-100">
                                @Html.ActionLink("Delete Event", "DeleteEvent", "Event", new { id = item.event_id }, null)
                            </button>
                        </td>
                        @*<td>@Html.ActionLink("Edit Event", "EditEvent", "Event", new { id = item.event_id }, null)</td>*@
                        @*<td>@Html.ActionLink("Delete Event", "DeleteEvent", "Event", new { id = item.event_id }, null)</td>*@
                    }
                </tr>
            }
        </table>
    </div>
</body>
@*<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div value="Logout" class="btn btn-warning">@Html.ActionLink("Logout", "Logout", "User")</div>
        </div>
    </div>*@